<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schaefer.user">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".UserApplication">
        <activity
            android:name=".presentation.UserActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.schaefer.userlist.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>